<%- include('header'); -%>
<main>

  <h1><%=post.title %></h1>
  <h6><%=post.content %></h6>
  <img src="<%=post.imgtag %>" alt="oil art">
  <h6>Maker : <%=post.maker %></h6>
  <h6>Datering : <%=post.datering %></h6>
  <h6>Type : <%=post.type %></h6>

  <button type="button" name="button"><a href="/werk"> < Terug</a></button>

</main>

<%- include('footer'); -%>
